ul {
  margin-left: 70%;
  list-style-type: none;
  display: flex;
}
li {
  margin-left: 3rem;
  cursor: pointer;
  border-radius: 5px;
}
nav {
  display: flex;
  background: tomato;
  color: #fff;
}
