ul {
  margin-left: 70%;
  list-style-type: none;
  display: flex;
}
li {
  margin: 0.2rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
nav {
  display: flex;
  background: tomato;
  color: #fff;
}
li:hover {
  color: #18f;
  background-color: #fff;
}
h1 {
  text-align: center;
  height: 330px;
  color: yellow;
  background-color: linear-gradient(45 deg, red, blue);
}
